FORMAT: 1A
HOST: http://webgis.nature.cz/aopkrest/mig/

# AOPK ČR - Databáze migrační bariery

Rozhraní pro získávání informací o ** Migračních barierách**

## Tok - karta dle ID [/tok/{id}?f={f}]

+ Parameters
    + id: 40 (number) - Kod toku
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + pjson - formátovaný json
            + json
            + html
            + xml

### Přehled dotazů [GET]

+ Response 200 (application/json)
   + Attributes (MapaMZCHU)


## Tok - Mapa [/tok/{id}/mapimage?width={width}&height={height}&type={typ}&f={f}]

+ Parameters
    + id: 40 (number) - Kód EVL z ústředního seznamu ochrany přírody
    + width: 800 (number, optional) - výška mapky
    + height: 500 (number, optional) - šířka mapky
    + typ (enum[number], optional) - typ mapy 0 mapa/ 1 preview
        + Default: 0
        + Members
            + 0 - běžná mapa
            + 1 - přehledka
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + pjson
            + json
            + html
            + xml

    
### Přehled dotazů [GET]

+ Response 200 (application/json)
    + Attributes (MapaMZCHU)


## Bariera - karta dle ID [/bar/{id}?f={f}]

+ Parameters
    + id: 63 (number) - id pro test [67,3]
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + pjson - formátovaný json
            + json
            + html
            + xml

### Přehled dotazů [GET]

+ Response 200 (application/json)
   + Attributes (MapaMZCHU)

## Prostupný objekt - karta dle ID [/po/{id}?f={f}]

+ Parameters
    + id: 4 (number) - ID
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + pjson - formátovaný json
            + json
            + html
            + xml

### Přehled dotazů [GET]

+ Response 200 (application/json)
   + Attributes (MapaMZCHU)


## Malá vodní elektrárna /MVE/ - karta dle ID [/mve/{id}?f={f}]

+ Parameters
    + id: 4 (number) - ID
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + pjson - formátovaný json
            + json
            + html
            + xml

### Přehled dotazů [GET]

+ Response 200 (application/json)
   + Attributes (MapaMZCHU)


## Karta pro nakládání s vodami dle ID [/naklvod/{id}?f={f}]

+ Parameters
    + id: 271 (number) - ID
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + pjson - formátovaný json
            + json
            + html
            + xml

### Přehled dotazů [GET]

+ Response 200 (application/json)
   + Attributes (MapaMZCHU)


## Číselníky [/ciselniky/?f={f}]

+ Parameters
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + pjson - formátovaný json
            + json
            + html
            + xml

### Přehled dotazů [GET]

+ Response 200 (application/json)
   + Attributes (MapaMZCHU)


## Toky - změny [/zmeny/tok?datum={datum}&f={f}]

+ Parameters
    + datum: `2017-07-01` (string, optional) - výstup vrátí záznamy, které mají datum změny vyšší nežli zadané datum. *[datum ve fromátech "yyyyMMdd", "dd.MM.yyyy", "yyyy-MM-dd", "dd-MM-yyyy", "d.M.yyyy", "dd. MM. yyyy", "d. M. yyyy"]
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + pjson - formátovaný json
            + json
            + html
            + xml

### Přehled dotazů [GET]

+ Response 200 (application/json)

    + Attributes (array[ZmenaVZCHU])
    + Attributes (array[ZmenaVZCHU])


## Tok - změna dle ID [/zmeny/tok/id/{id}?f={f}]

+ Parameters
    + id: 1 (number) - Kod toku
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + pjson - formátovaný json
            + json
            + html
            + xml

### Přehled dotazů [GET]

+ Response 200 (application/json)
   + Attributes (MapaMZCHU)


## Bariéry - změny [/zmeny/bar?datum={datum}&f={f}]

+ Parameters
    + datum: `2017-07-01` (string, optional) - výstup vrátí záznamy, které mají datum změny vyšší nežli zadané datum. *[datum ve fromátech "yyyyMMdd", "dd.MM.yyyy", "yyyy-MM-dd", "dd-MM-yyyy", "d.M.yyyy", "dd. MM. yyyy", "d. M. yyyy"]
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + pjson - formátovaný json
            + json
            + html
            + xml

### Přehled dotazů [GET]

+ Response 200 (application/json)

    + Attributes (array[ZmenaVZCHU])
    + Attributes (array[ZmenaVZCHU])


## Bariéra - změna dle ID [/zmeny/bar/id/{id}?f={f}]

+ Parameters
    + id: 1 (number) - Kód toku
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + pjson - formátovaný json
            + json
            + html
            + xml

### Přehled dotazů [GET]

+ Response 200 (application/json)
   + Attributes (MapaMZCHU)


## Prostupné objekty - změny [/zmeny/po?datum={datum}&f={f}]

+ Parameters
    + datum: `2017-07-01` (string, optional) - výstup vrátí záznamy, které mají datum změny vyšší nežli zadané datum. *[datum ve fromátech "yyyyMMdd", "dd.MM.yyyy", "yyyy-MM-dd", "dd-MM-yyyy", "d.M.yyyy", "dd. MM. yyyy", "d. M. yyyy"]
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + pjson - formátovaný json
            + json
            + html
            + xml

### Přehled dotazů [GET]

+ Response 200 (application/json)

    + Attributes (array[ZmenaVZCHU])
    + Attributes (array[ZmenaVZCHU])

## Prostupný objekt - změna dle id [/zmeny/po/id/{id}?f={f}]

+ Parameters
    + id: 1 (number) - Kód toku
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + pjson - formátovaný json
            + json
            + html
            + xml

### Přehled dotazů [GET]

+ Response 200 (application/json)

    + Attributes (array[ZmenaVZCHU])
    + Attributes (array[ZmenaVZCHU])

## Malé vodní elektrárny /MVE/ - změny [/zmeny/mve?datum={datum}&f={f}]

+ Parameters
    + datum: `2017-07-01` (string, optional) - výstup vrátí záznamy, které mají datum změny vyšší nežli zadané datum. *[datum ve fromátech "yyyyMMdd", "dd.MM.yyyy", "yyyy-MM-dd", "dd-MM-yyyy", "d.M.yyyy", "dd. MM. yyyy", "d. M. yyyy"]
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + pjson - formátovaný json
            + json
            + html
            + xml

### Přehled dotazů [GET]

+ Response 200 (application/json)
    + Attributes (array[ZmenaVZCHU])
    + Attributes (array[ZmenaVZCHU])

## Malá vodní elektrárna /MVE/ - změna dle id [/zmeny/mve/id/{id}?f={f}]

+ Parameters
    + id: 1 (number) - Kód toku
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + pjson - formátovaný json
            + json
            + html
            + xml

### Přehled dotazů [GET]

+ Response 200 (application/json)

    + Attributes (array[ZmenaVZCHU])
    + Attributes (array[ZmenaVZCHU])


## Nakládání s vodami - změny [/zmeny/naklvod?datum={datum}&f={f}]

+ Parameters
    + datum: `2017-07-01` (string, optional) - výstup vrátí záznamy, které mají datum změny vyšší nežli zadané datum. *[datum ve fromátech "yyyyMMdd", "dd.MM.yyyy", "yyyy-MM-dd", "dd-MM-yyyy", "d.M.yyyy", "dd. MM. yyyy", "d. M. yyyy"]
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + pjson - formátovaný json
            + json
            + html
            + xml

### Přehled dotazů [GET]

+ Response 200 (application/json)

    + Attributes (array[ZmenaVZCHU])
    + Attributes (array[ZmenaVZCHU])


## Nakládání s vodou - změna dle id [/zmeny/naklvod/id/{id}?f={f}]

+ Parameters
    + id: 1 (number) - Kód toku
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + pjson - formátovaný json
            + json
            + html
            + xml

### Přehled dotazů [GET]

+ Response 200 (application/json)

    + Attributes (array[ZmenaVZCHU])
    + Attributes (array[ZmenaVZCHU])
    
    
    

## Číselníky - změny [/zmeny/ciselniky?f={f}]

+ Parameters
    + f (string, optional) - formát výstupu
        + Default: html
        + Members
            + pjson - formátovaný json
            + json
            + html
            + xml

### Přehled dotazů [GET]

+ Response 200 (application/json)

    + Attributes (array[ZmenaVZCHU])
    + Attributes (array[ZmenaVZCHU])


# Data Structures

##LokalitaMZCHU
+ Id: 103 (number) - kód lokality v ústředním seznamu ochrany přírody
+ Kod: 103 (number) - kód lokality v ústředním seznamu ochrany přírody
+ Nazev: Hádecká planinka (string) - název lokality
+ Kategorie: NPR (enum [string]) - kategorie chráněného území
    + Members
    + NPP - Národní přírodní památka
    + NPR - Národní přírodní rezervace
    + PR - Přírodní rezervace
    + PP - Přírodní památka
+ Katastry: Kanice, Maloměřice (string) - katastrální území na kterých se tato lokalita nachází
+ Rozloha: 83.1616 (number) - rozloha (ha)
+ VyskaMin: 330 (number) - Minimální nadmořská výška dané lokality
+ VyskaMax: 422 (number) - Maximální nadmořská výška dané lokality
+ Vyhlaseno: 05.11.1948 (string) - datum vyhlášení MZCHÚ
+ PredmetOchrany: Zachovaný druhově bohatý komplex přirozených doubrav ...  (string) - podrobný popiz předmětů ochrany dané lokality
+ OOP: `AOPK ČR - RP Jižní Morava` (string) - Orgán ochrany přírody pro dané MZCHÚ zkraka: OOP
+ Emaily: jizni.morava@nature.cz (string) - email OOP
+ Telefony: `+420 549 210 226` (string)  - telefon OOP
+ Http: http://jiznimorava.ochranaprirody.cz/ (string) - www stránka OOP
+ Aopk: 1 (enum [number], optional)  
    + Members
        + 0  - není ve správě AOPK ČR
        + 1 - je ve správě AOPK ČR
+ KodRp: 857 (number) - kód regionální pracoviště AOPK ČR
+ KodMzchu: 103 (number) - kód lokality v ústředním seznamu ochrany přírody
+ KodVzchu: 72 (number) - kód Vzchú ve kterém se lokalita nachází
+ NazevVzchu: Litovelské Pomoraví (string) - název Vzchú ve kterém se lokalita nachází
+ WgsLon: 16.676867 (number) - střed lokality - zeměpisná délka WGS
+ WgsLat: 49.224339 (number) - střed lokality - zeměpisná šířka WGS
+ ChkoUrl: http://moravskykras.ochranaprirody.cz (string) - url regioního pracoviště
+ QrId: "m0541" (string) - QR kód (pro zobrazení informací na www.ochranaprirody.cz) 
+ QrUrl: "http://moravskykras.ochranaprirody.cz/lokality/m0541" (string) - Odkaz na informace o lokalitě na www.ochranaprirody.cz
+ HasGeometry: true (boolean) - informace zdali má lokalita zákres
+ ZmenaT: `2017-09-01` (string) - datum poslední změny tabelárních dat lokality
+ ZmenaG: `2009-08-20` (string) - datum poslední změny zákresu lokality
+ DateT: `2018-05-14` (string) - poslední změna dat v Úsopu
+ WgsLonStr: 16.676867 (string) - střed lokality - zeměpisná délka WGS (jako řetězec)
+ WgsLatStr: 49.224339 (string) - střed lokality - zeměpisná délka WGS (jako řetězec)
+ DrusopUrl: `http://drusop.nature.cz/ost/chrobjekty/zchru/index.php?frame&SHOW_ONE=1&ID=103` (string) - odkaz Odkaz na informace o lokalitě na www.drusop.cz

##LokalitaSeznamMZCHU
+ Id: 103 (number) - kód lokality v ústředním seznamu ochrany přírody
+ Kod: 103 (number) - kód lokality v ústředním seznamu ochrany přírody
+ Nazev: Hádecká planinka (string) - název lokality
+ Kategorie: NPR (enum [string]) - kategorie chráněného území
    + Members
    + NPP - Národní přírodní památka
    + NPR - Národní přírodní rezervace
    + PR - Přírodní rezervace
    + PP - Přírodní památka
+ Rozloha: 83.1616 (number) - rozloha (ha)
+ Vyhlaseno: 05.11.1948 (string) - datum vyhlášení MZCHÚ
+ OOP: AOPK ČR - RP Jižní Morava (string) - Orgán ochrany přírody pro dané MZCHÚ (OOP)
+ NazevVzchu: Litovelské Pomoraví (string) - název Vzchú ve kterém se lokalita nachází
+ WgsLon: 16.676867 (number) - střed lokality - zeměpisná délka WGS
+ WgsLat: 49.224339 (number) - střed lokality - zeměpisná šířka WGS
+ QrId: m0541 (string) - QR kód (pro zobrazení informací na www.ochranaprirody.cz) 
+ QrUrl: http://moravskykras.ochranaprirody.cz/lokality/m0541 (string) - Odkaz na informace o lokalitě na www.ochranaprirody.cz
+ HasGeometry: true (boolean) - informace zdali má lokalita zákres
+ ZmenaT: `2017-09-01` (string) - datum poslední změny tabelárních dat lokality
+ ZmenaG: `2009-08-20` (string) - datum poslední změny zákresu lokality
+ DateT: `2018-05-14` (string) - poslední změna dat v Úsopu
+ WgsLonStr: 16.676867 (string) - střed lokality - zeměpisná délka WGS (jako řetězec)
+ WgsLatStr: 49.224339 (string) - střed lokality - zeměpisná délka WGS (jako řetězec)
+ DrusopUrl: `http://drusop.nature.cz/ost/chrobjekty/zchru/index.php?frame&SHOW_ONE=1&ID=103` (string) - odkaz Odkaz na informace o lokalitě na www.drusop.cz

## ZmenaVZCHU
+ Id: 1 (number) - id lokality
+ Kod: 2401 (number) - kód lokality v ústředním seznamu ochrany přírody
+ Aopk: 1 (enum [number], optional)  
    + Members
        + 0  - není ve správě AOPK ČR
        + 1 - je ve správě AOPK ČR
+ IdAopkOop: 86 (number) - ID Regionálního pracoviště AOPK ČR !!!!Zkontrolovat!!!!
+ ZmenaT: `017-09-01` (string) - datum poslední změny tabelárních dat lokality
+ ZmenaG: `2009-12-18` (string) - datum poslední změny zákresu lokality
+ DateT: `2018-05-14` (string) - poslední změna dat v Úsopu

## ZakresMZCHU
+ Kod: 103 (number) - kód lokality v ústředním seznamu ochrany přírody
+ Shapes: `polygon ((-829460 -1018247, -829460 -1010403, -816512 -1010403, -816512 -1018247, -829460 -1018247))` (array[string]) - vrací souřadnice zákresu ve formátu ST_GEOMETRY

## MapaMZCHU
+ Kod: 103 (number) - kód lokality v ústředním seznamu ochrany přírody
+ Scale: 17045.4774803152 (number) - měřítko mapy - přesně
+ ImageSource: 137,80,78,71,13,10,96,130 (array [number]) - obrázek v bytech
+ ImageFormat: Jpeg (enum [string]) - formát souboru s obrázkem mapy
    + Members
    + Jpeg
+ ScaleView: 17 045 (string) - měřítko mapy zformátované pro zobrazení

## MapaPrehledMZCHU (MapaMZCHU)